.navbar-brand {
    margin-left: 15px;
}
.nav-top-link {
    margin-right: 15px;
}
.nav-top-link li {
    display: inline-block !important;
    height: 50px !important;
}
.nav-top-link li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 15px 15px !important;
}
.navbar-static-side {
    overflow-y: auto;
    background: url("../../assets/sys/images/main-tile.jpg") repeat left top;
}
.navbar-static-side::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 9px;
    height: 100%;
    background: #000;
    background: rgba(0,0,0,.30);
    border-right: 1px solid rgb(255,255,255);
    border-right: 1px solid rgba(255,255,255,.13);
}
.navbar-search-side {
    position: relative;
    position: fixed !important;
    top: 0;
    width: 15% !important;
    margin-top: 51px;
    text-align: center;
    background-color: #f8f8f8;
    height: 150px;
    border-right: 1px solid #e7e7e7;
}
.navbar-search-side input {
    width: 80%;
    height: 35px;
    margin-top: 6px;
    border-radius: 5px;
    border: 1px solid #D3D3D3;
}
.navbar  {
    border-radius: 0px !important;
    border: 0px !important;
    height: 100%;

}
.page-container {
    position: relative;
    min-height: 100vh;
    height: 100%;
}

.login-form {
    width: 300px;
    margin: 25px auto 0;
}
.logged-screen .login-form  {
    width: auto;
}
.login-form label {
    color: #f0f0f0;
}
.top-search {
    padding-top: 35px;
}

.edit-user-form {
    width: 500px;
}

.lm {
    margin-left: 5px;
}

#editor {
    position: absolute;
    width: 100%;
    height: 70vh;
    top: 68px;
    left: 0;
    overflow: auto;
}

.editor-tools {
    width: 100%;
    padding: 10px;
    background-color: white;
    z-index: 20;
}

.explorer_row .row [class*="col-"] {
    float: none;
    display: inline-block;
}
/**
 * Edits 05.01.2015
 */
hr {
    border-top: 1px solid #C5C5C5 !important;
}
.tb {
    position: relative;
    top: 1px;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.relative {
    position: relative;
}
.padd-tb-50 { 
    padding-top: 50px;
    padding-bottom: 50px;
}
.lighten {
    color: #ccc;
}
.full-height {
    height: 100%;
}
.row.full-height,
.content-wrapper.full-height{
    min-height: 100vh;
}
.admin-wrapper {
    background: #f0f0f0 url("../../assets/sys/images/bg-login.gif") repeat left top;
}
.logo {
    padding-top: 110px;
    min-height: 205px;
    background: #000;
    background: rgba(0,0,0,.30);
    border-bottom: 1px solid rgb(255,255,255);
    border-bottom: 1px solid rgba(255,255,255,.13);
    text-align: center;
    color: #fff;
}
.btn {
    font-family: Verdana, sans-serif;
    /*font-size: 11px !important;*/
    -webkit-box-shadow: inset 0 1px rgba(255,255,255,.29); 
    -moz-box-shadow: inset 0 1px rgba(255,255,255,.29); 
    box-shadow: inset 0 1px rgba(255,255,255,.29); 
}
.btn.btn-default {
    border: solid 1px #999;
}
.btn.btn-primary,
.btn.btn-info{
    border: solid 1px #004994; 
    background: #0082bd; /* Old browsers */
    background: -moz-linear-gradient(top,  #0082bd 0%, #004994 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0082bd), color-stop(100%,#004994)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0082bd 0%,#004994 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0082bd 0%,#004994 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0082bd 0%,#004994 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #0082bd 0%,#004994 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0082bd', endColorstr='#004994',GradientType=0 ); /* IE6-9 */

}
.btn.btn-info:hover,
.btn.btn-primary:hover {
    background: #0082bd; /* Old browsers */
}
.btn.btn-success {
    border: solid 1px #459300; 
    background: #7fbd00; /* Old browsers */
    background: -moz-linear-gradient(top,  #7fbd00 0%, #459300 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7fbd00), color-stop(100%,#459300)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7fbd00 0%,#459300 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7fbd00 0%,#459300 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7fbd00 0%,#459300 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #7fbd00 0%,#459300 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fbd00', endColorstr='#459300',GradientType=0 ); /* IE6-9 */
}
.btn.btn-success:hover {
    background: #7fbd00; /* Old browsers */
}

.btn.btn-danger {
    border: solid 1px #940000; 
    background: #bd0000; /* Old browsers */
    background: -moz-linear-gradient(top,  #bd0000 0%, #940000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bd0000), color-stop(100%,#940000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #bd0000 0%,#940000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #bd0000 0%,#940000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #bd0000 0%,#940000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #bd0000 0%,#940000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd0000', endColorstr='#940000',GradientType=0 ); /* IE6-9 */

}
.btn.btn-danger:hover {
    background: #bd0000; /* Old browsers */
}
.login-form .checkbox > label {
    font-size: 12px;
    line-height: 20px;
}
.logged-screen .content-wrapper{
    background: #f0f0f0 url('../../assets/sys/images/bg-radial-gradient.gif') fixed 230px top no-repeat;
}
/**
 * Login Form Alerts
 */
.content-wrapper .login-form .alert{
    -webkit-border-radius: 6px; 
    -moz-border-radius: 6px; 
    border-radius: 6px; 
    background-color: #141414;
    background-repeat: no-repeat;
    background-position: 11px 50%;
    color: #fff;
    font-size: 13px;
    font-family: Arial, sans-serif;
    border: 0;
    padding-left: 35px;
}
.content-wrapper .alert { 
    padding-left: 35px; 
    background-repeat: no-repeat;
    background-position: 11px 50%;
    color: #000;
}
.content-wrapper .alert.alert-info       { background-image: url("../../assets/sys/images/icons/information.png"); }
.content-wrapper .alert.alert-success    { background-image: url("../../assets/sys/images/icons/tick_circle.png"); }
.content-wrapper .alert.alert-warning    { background-image: url("../../assets/sys/images/icons/exclamation.png"); }
.content-wrapper .alert.alert-danger     { background-image: url("../../assets/sys/images/icons/cross_circle.png"); }

.content-wrapper .alert-dismissable .close,
.content-wrapper .alert-dismissible .close{
    color: #787d8c;
    top:  -15px;
    right: -30px;
}

.content-wrapper .alert-info     { border-color: #a2b4ee; background-color: #dbe3ff; }
.content-wrapper .alert-success  { border-color: #9adf8f; background-color: #d5ffce; }
.content-wrapper .alert-warning  { border-color: #e6db55; background-color: #fffbcc; }
.content-wrapper .alert-danger   { border-color: #df8f8f; background-color: #ffcece; }
/**
 * Sidebar
 */
.head, .logo {
    font-family: Calibri; 
    font-size: 31px; 
    font-weight: bold; 
    color: #fff; 
    text-shadow: 0 0 6px rgba(0,0,0,.4);
}
.user-info {
    color: #888;
}
.nav.negative-margin {
    margin-right: -15px;
}
.nav.negative-margin li {
    width: 85%;
    float: right;
    margin-bottom: 11px;
}
.nav.negative-margin li a {
    color: #fff;
    line-height: 33px;
    padding-top: 0;
    padding-bottom: 0;
    text-align: right;
    background: #459300;

    background-color: #459300; 

    -webkit-box-shadow: inset 1px 1px rgb(160,207,0); 
    -moz-box-shadow: inset 1px 1px rgb(160,207,0); 
    box-shadow: inset 1px 1px rgb(160,207,0); 

    background-image: -webkit-linear-gradient(-15deg, rgb(63,133,0), rgb(123,186,0)); 
    background-image: -moz-linear-gradient(-15deg, rgb(63,133,0), rgb(123,186,0)); 
    background-image: -o-linear-gradient(-15deg, rgb(63,133,0), rgb(123,186,0)); 
    background-image: -ms-linear-gradient(-15deg, rgb(63,133,0), rgb(123,186,0)); 
    background-image: linear-gradient(-15deg, rgb(63,133,0), rgb(123,186,0));

    border-radius: 4px 0 0 4px;

    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.nav.negative-margin>li.active>a,
.nav.negative-margin>li>a:hover,
.nav.negative-margin>li>a:focus {
    background: #f6f6f6;
    color: #444;
    -webkit-box-shadow: inset 1px 1px #f6f6f6; 
    -moz-box-shadow: inset 1px 1px #f6f6f6; 
    box-shadow: inset 1px 1px #f6f6f6; 
}
/**
 * Content Area
 */
.welcome-message {
    margin-bottom: 30px;
}
.logged-screen .content-wrapper[class*="col-"] {
    padding: 45px 15px 30px 35px;
}
/*------------------------------------*\
    BOOTSTRAP UI STYLES
\*------------------------------------*/

/**
 * TABS
 */
.bootstrap-ui-tabs {
    border: 1px solid #ccc;
    border-radius: 4px;
}
.bootstrap-ui-tabs::after {
    content: "";
    display: block;
    clear: both;
}
.bootstrap-ui-tabs .nav-tabs {
    border-bottom: 1px solid #ccc;
}
.bootstrap-ui-tabs .nav-pills {
    border-right: 1px solid #ccc;
}
.bootstrap-ui-tabs .nav-tabs>li.active>a, 
.bootstrap-ui-tabs .nav-tabs>li.active>a:hover, 
.bootstrap-ui-tabs .nav-tabs>li.active>a:focus {
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom-color: transparent;
    cursor: default;
}
.bootstrap-ui-tabs .nav-tabs>li>a:hover {
    border-color: #ccc #ccc #ccc;
}
.bootstrap-ui-tabs .nav>li>a:hover, 
.bootstrap-ui-tabs .nav>li>a:focus {
    text-decoration: none;
    background-color: #fafafa;
}


.bootstrap-ui-tabs ul.nav {
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 0%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eeeeee 0%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    padding: 15px 15px 0;

}
.bootstrap-ui-tabs ul.nav li{
    cursor: pointer;
}
.bootstrap-ui-tabs ul.nav li a {
    color: #333;
}
/* horizontal */
.bootstrap-ui-tabs .tab-content {
    padding: 20px;
    background: #fff;
}
/* vertical */
.bootstrap-ui-tabs.vertical {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.bootstrap-ui-tabs.vertical ul.nav,
.bootstrap-ui-tabs.vertical .nav-pills {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.bootstrap-ui-tabs.vertical ul.nav {
    padding: 20px 0 20px 20px;
}
.bootstrap-ui-tabs.vertical .nav-pills {
    width: 20%;
    float: left;
}
.bootstrap-ui-tabs.vertical .nav-pills li {
    margin-right: -1px;
}
.bootstrap-ui-tabs.vertical .nav-pills>li>a {
    border-radius: 4px 0 0 4px;
    border: 1px solid transparent;
}
.bootstrap-ui-tabs .nav-pills>li.active>a, 
.bootstrap-ui-tabs .nav-pills>li.active>a:hover, 
.bootstrap-ui-tabs .nav-pills>li.active>a:focus {
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-right-color: transparent;
    cursor: default;
}
.bootstrap-ui-tabs.vertical .tab-content {
    width: 80%;
    float: left;
}
/**
 * PAGINATION
 */
.pagination.bootstrap-ui-pagination>li {
    display: inline-block;
    margin: 0 5px;
}
.pagination.bootstrap-ui-pagination>li a {
    color: #57a000;
    font: normal 10px/16px Verdana,sans-serif;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.pagination.bootstrap-ui-pagination li:nth-child(1) a,
.pagination.bootstrap-ui-pagination li:nth-child(2) a,
.pagination.bootstrap-ui-pagination li:nth-last-child(2) a,
.pagination.bootstrap-ui-pagination li:nth-last-child(1) a{
    background: transparent;
    border: 0;
}
.pagination.bootstrap-ui-pagination li:nth-child(1) a::before      { content: "\00ab  "; }
.pagination.bootstrap-ui-pagination li:nth-child(2) a::before      { content: "\00ab  "; }
.pagination.bootstrap-ui-pagination li:nth-last-child(2) a::after  { content:" \00bb"; }
.pagination.bootstrap-ui-pagination li:nth-last-child(1) a::after  { content:" \00bb"; }
/* hover */
.pagination.bootstrap-ui-pagination>li>a:hover  {
    background: #7fbd00;
    color: #fff;
    border: 1px solid #459300;
}
.pagination.bootstrap-ui-pagination li:nth-child(1) a:hover,
.pagination.bootstrap-ui-pagination li:nth-child(1) a:focus,
.pagination.bootstrap-ui-pagination li:nth-child(2) a:hover,
.pagination.bootstrap-ui-pagination li:nth-child(2) a:focus,
.pagination.bootstrap-ui-pagination li:nth-last-child(2) a:hover,
.pagination.bootstrap-ui-pagination li:nth-last-child(2) a:focus,
.pagination.bootstrap-ui-pagination li:nth-last-child(1) a:hover,
.pagination.bootstrap-ui-pagination li:nth-last-child(1) a:focus{
    background: transparent;
    border: 0;
    color: #7fbd00;
}
/* active */
.pagination.bootstrap-ui-pagination>li.active a {
    color: #fff;
    border: 1px solid #459300;
    background: #7fbd00; /* Old browsers */
    background: -moz-linear-gradient(top,  #7fbd00 0%, #459300 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7fbd00), color-stop(100%,#459300)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7fbd00 0%,#459300 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7fbd00 0%,#459300 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7fbd00 0%,#459300 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #7fbd00 0%,#459300 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fbd00', endColorstr='#459300',GradientType=0 ); /* IE6-9 */
    cursor: default;
}
/* disabled */
.pagination.bootstrap-ui-pagination>li.disabled a {
    color: #ccc;
}
/**
 * User Actions
 */
.list-user-actions,
.list-ua-glyphs{
    display: table;
    border-collapse: separate;
    border-spacing:15px;

    padding: 0;
    margin: 0 -15px 20px;

    list-style-type: none;
}
.fake-table-row {
    display: table-row;
}
.list-user-actions .action,
.list-ua-glyphs .action{
    display: table-cell;
    width: 122px;
    height: 100%;

    background: #fafafa;
    border-radius: 4px;
    border: 1px solid #ccc;

    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.list-user-actions .action:hover{
    background: #fff;
    border: 1px solid #8c8c8c;
}
.list-user-actions .action:hover a,
.list-ua-glyphs .action:hover a {
    text-decoration: none;
}
.list-user-actions .action a,
.list-ua-glyphs .action a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px 15px 5px;

    color: #555;
    font: normal 13px/1.4 Arial, sans-serif;
    text-align: center;

    border: 1px solid #fff;
    border-radius: 4px;
}
.list-user-actions .action i{
    display: block;
    width: 47px;
    height: 47px;
    margin: 0 auto 15px;
    background-image: url("../../assets/sys/images/actions-sprite.png");
    background-repeat: no-repeat;
}
.list-user-actions .action.action-write i    { background-position: 0 0; }
.list-user-actions .action.action-newpage i  { background-position: 0 -47px; }
.list-user-actions .action.action-upload i   { background-position: 0 -94px; }
.list-user-actions .action.action-addevent i { background-position: 0 -141px; }
.list-user-actions .action.action-comments i { background-position: 0 -188px; }

/**
 * List User Actions Glyphs
 */
.list-ua-glyphs .glyphicon {
    font-size: 48px;
}
.list-ua-glyphs .action p {
    margin-top: 10px;
}
.list-ua-glyphs .action:hover {
    background: #fff;
    border: 1px solid #57a000;
}
.list-ua-glyphs .action:hover a {
    color: #57a000;
}