.event-title {
    position: relative;
    width: 380px;
    max-height: 300px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 35px;
    background: #0e3757;
    z-index: 11;
}
.event-title .event-title-date {
    position: relative;
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #FFF;
}
.event-title .event-title-date span.event-title-img {
    position: absolute;
    display: inline-block;
    margin-left: -33px;
    top: -33px;
    left: 50%;
    width: 66px;
    height: 66px;
    background: url(../../assets/icons/event_type/event-date-img.png) #0e3757 center no-repeat;
}
.event-title .event-title-id {
    font-family: 'Roboto Slab', serif;
    color: #FFF;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
}

.editable {
    border: 1px dotted white;
}

.editable:hover {
    border: 1px dashed white;
}

.event-title .event-title-date {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    text-transform: uppercase;
}

.cover {
    width: 98%;
    height: 500px;
    position: absolute;
    margin-top: -40px;
    z-index: 8;
}

.thumbnail-explorer-selected-item .success {
    background: #007b90;
}

.thumbnail-explorer-selected-item .success .caption{
    color: #ffffff;
}

.select-cover-image {
    position: absolute;
    top: 402px;
    left: 30px;
    z-index: 9;
}

.angular-google-map-container { 
    height: 400px; 
}

.content {
    padding: 10px;
}

.page-management-side {
    padding: 10px;
    width: 49%;
    float: left;
}

.page-management-side .page-management-side-left { 
    border-right: 1px solid black;
}

.page-management-sides-clear {
    clear: both;
}

.page-management-side .page-management-slider {
    min-height: 400px;
    border-bottom: 1px solid black;
}

.admin-http-loading {
    position: fixed;
    top: 11px;
    max-width: 500px;
    left: 50%;
    margin-left: -250px;
    z-index: 10000;
    display: none;
    background: #ffd65e; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffd65e 0%, #febf04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd65e), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffd65e 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffd65e 0%,#febf04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffd65e 0%,#febf04 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffd65e 0%,#febf04 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 ); /* IE6-9 */
    color: #693C00;
}