<div class="edit-user-form">

    <div class="input-group">
        <span class="input-group-addon">Username</span>
        <input ng-model="form.username" type="text" class="form-control" placeholder="Username" value="{{userInfo.username}}">
    </div>

    <br>

    <div class="input-group {{this.re_password_error_class}}">
        <span class="input-group-addon">Password</span>
        <input ng-model="form.password" type="password" class="form-control" placeholder="Enter new password">
    </div>

    <br>

    <div class="input-group {{this.re_password_error_class}}">
        <span class="input-group-addon">Re-Password</span>
        <input ng-model="form.re_password" type="password" class="form-control" placeholder="Retype password">
    </div>

    <br>

    <div class="input-group">
        <span class="input-group-addon">First name</span>
        <input ng-model="form.first_name" type="text" class="form-control" placeholder="first name" value="{{userInfo.first_name}}">
    </div>

    <br>

    <div class="input-group">
        <span class="input-group-addon">Last name</span>
        <input ng-model="form.last_name" type="text" class="form-control" placeholder="last name" value="{{userInfo.last_name}}">
    </div>
    <br>
    <select class="selectpicker" selectpicker ng-model="form.group_id">
        <option ng-repeat="group in this.groups track by $index" value="{{group.id}}">{{group.name}}</option>
    </select>
    <br>
    <button class="btn btn-success btn-sm" ng-click="submitForm()" id="add-button-submit">Create this user</button>
    <br><br>
    <div ng-show="this.errorRegister" class="alert alert-danger" role="alert">{{errorMessageRegister}}</div>
    <div ng-show="this.successRegister" class="alert alert-success" role="alert">Success</div>
</div>