<div>
    <a href="#/add/admin/user" class="btn btn-info btn-sm">Create new user</a>
</div>

<br>

<table class="table">
    <tr>
        <td>#</td>
        <th>Username</th>
        <th>Name</th>
        <th>Group</th>
        <th>Options</th>
    </tr>
    <tr ng-repeat="user in this.adminUsers| filter: globalSearchField">
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.first_name + " " + user.last_name}}</td>
        <td><a href="#/admin/edit/group/{{user.group_id}}">{{user.group_name}}</a></td>
        <td>
            <a href="#/admin/edit/user/{{user.id}}" class="btn btn-info btn-xs">Edit</a>
            <a class="btn btn-danger btn-xs" ng-click="confirm('Are you sure you want to delete this user ?', user.id)">Delete</a>
        </td>
    </tr>
</table>