<div class="content">
    <div class="input-group">
        <span class="input-group-addon">Component name</span>
        <input type="text" class="form-control" placeholder="Enter component name here. E.x TestComponent" ng-keyup="typeComponentName($event)">
    </div>
    <div class="content">
        <table class="table table-striped table-bordered">
            <tr>
                <th>
            <div class="btn-group">
                <span>Client
                    <label class="btn btn-default btn-xs" ng-model="component.client.enabled" btn-radio="true">Enable</label>
                    <label class="btn btn-default btn-xs" ng-model="component.client.enabled" btn-radio="false">Disable</label>
                </span>
            </div>
            </th>
            <th>
            <div class="btn-group">
                <span>Admin
                    <label class="btn btn-default btn-xs" ng-model="component.admin.enabled" btn-radio="true">Enable</label>
                    <label class="btn btn-default btn-xs" ng-model="component.admin.enabled" btn-radio="false">Disable</label>
                </span>
            </div>
            </th>
            <th>Server</th>
            </tr>
            <tr>
                <td style="width: 20%;">
                    <div class="input-group">
                        <span class="input-group-addon">Url path</span>
                        <input type="text" class="form-control" ng-model="component.client.url_path" ng-disabled="!component.client.enabled">
                    </div>
                </td>
                <td style="width: 28%;">
                    <div class="input-group">
                        <span class="input-group-addon">Url path</span>
                        <input type="text" class="form-control" ng-model="component.admin.url_path" ng-disabled="!component.admin.enabled">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">Access ID</span>
                        <input type="text" class="form-control" ng-model="component.admin.accessId" ng-disabled="!component.admin.enabled">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">Link name</span>
                        <input type="text" class="form-control" ng-model="component.admin.link_name" ng-disabled="!component.admin.enabled">
                    </div>
                </td>
                <td style="width: 48%;">
                    <table class="table table-condensed table-hover" ng-show="component.client.enabled || component.admin.enabled">
                        <tr>
                            <th>
                                <span>
                                    <label class="btn btn-default btn-xs" ng-model="component.model_enabled" btn-radio="true">Enable</label>
                                    <label class="btn btn-default btn-xs" ng-model="component.model_enabled" btn-radio="false">Disable</label>
                                </span>
                                <span ng-show="component.model_enabled">
                                    DB
                                    <select ng-model="component.dbTable">
                                        <option value="0">Select database</option>
                                        <option ng-repeat="databaseTable in databaseTables">{{databaseTable}}</option>
                                    </select>
                                </span>
                            </th>
                            <th style="text-align: center;">
                                <button ng-click="selectAllToggle(component.model)" class="btn btn-xs btn-default" ng-show="component.model_enabled">Toggle All</button>
                            </th>
                            <th style="text-align: center;">
                                <span ng-show="component.model_enabled">
                                    <span ng-show="component.client.enabled">CLIENT</span>
                                    <span ng-show="component.client.enabled && component.admin.enabled"> / </span>
                                    <span ng-show="component.admin.enabled">ADMIN</span>
                                </span>
                            </th>
                        </tr>
                        <tr ng-repeat="ccModel_row in component.model" ng-show="component.model_enabled" ng-class="ccModel_row.selected ? 'success' : ''">
                            <td ng-click="ccModel_row.selected = !ccModel_row.selected">
                                <b>${{component.name}}->{{ccModel_row.name}}()</b>
                            </td>
                            <td style="text-align: center;">
                                <input type="checkbox" ng-model="ccModel_row.selected">
                            </td>
                            <td style="width: 200px;">
                                <div ng-show="ccModel_row.selected">
                                    <span style="width: 60px;" ng-show="component.client.enabled" class="content" popover-placement="bottom" popover="{{ccModel_row.inClientController ? 'Remove' : 'Add'}} this method {{ccModel_row.inClientController ? 'from' : 'to'}} client JavaScript controller" popover-trigger="mouseenter" >
                                        <button style="width: 70px;" class="btn btn-xs btn-warning" ng-click="ccModel_row.inClientController = !ccModel_row.inClientController">{{ccModel_row.inClientController ? 'Remove' : 'Add'}}</button>
                                        <!--<input type="checkbox" ng-model="ccModel_row.inClientController">-->
                                    </span>
                                    <span style="width: 60px;" ng-show="component.admin.enabled" class="content" popover-placement="bottom" popover="{{ccModel_row.inAdminController ? 'Remove' : 'Add'}} this method {{ccModel_row.inAdminController ? 'from' : 'to'}} admin JavaScript controller" popover-trigger="mouseenter">
                                        <!--<input type="checkbox" ng-model="ccModel_row.inAdminController">-->
                                        <button style="width: 70px;" class="btn btn-xs btn-info" ng-click="ccModel_row.inAdminController = !ccModel_row.inAdminController">{{ccModel_row.inAdminController ? 'Remove' : 'Add'}}</button>
                                    </span>
                                </div>

                            </td>
                        </tr>
                    </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <button class="btn btn-danger" ng-click="generate()">GENERATE</button>
</div>
<div class="content">
    <table class="table table-condensed">
        <tr>
            <td>#</td>
            <td>File path</td>
            <td>Status</td>
            <td>Options</td>
        </tr>
        <tr ng-repeat="generatedFile in generatedFiles">
            <td>{{$index + 1}}</td>
            <td>{{generatedFile.path}}</td>
            <td>
                <span class="label label-{{generatedFile.status === 'updated' ? 'warning' : 'success'}}"><span class="glyphicon glyphicon-{{generatedFile.status !== 'updated' ? 'plus' : 'ok'}}"></span> {{generatedFile.status}}</span>
            </td>
            <td>
                <a ng-click="openInEditor(generatedFile)" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-edit"></span> Edit</a>
            </td>
        </tr>
    </table>
</div>