<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-3 col-xs-offset-0 col-sm-offset-0 col-md-offset-9">
        <div class="input-group input-group-sm top-search">
            <span class="input-group-addon">Search</span>
            <input type="text" class="form-control" placeholder="" ng-model="globalSearchField">
        </div>
    </div>
</div>
<div>
    <button class="btn btn-info" ng-click="add()">Add new key</button><br><br>
</div>
<!--<div class="alert alert-info" role="alert">
    <h3>How to create key</h3>
    <div>
        <strong>1) Normal key {String} key</strong>
    </div>
    <div>
        <strong>2) Group key {String} groupName.key</strong>
    </div>
</div>-->
<table class="table table-striped table-hover">
    <tr>
        <th>#</th>
        <th class="text-center">Key</th>
        <th class="text-center">Value</th>
        <th class="text-center">Options</th>
    </tr>
    <tr ng-repeat="config in configurations| filter : globalSearchField" class="text-center" ng-class="config.updated ? 'success' : ''">
        <td class="text-left">{{$index + 1}}</td>
        <td ng-bind-html="config.key | Configurations_StrongifyGroups">

        </td>
        <td>
            <textarea ng-disabled="config.readOnly" class="form-control" rows="3" ng-model="config.value">{{config.value}}</textarea>
        </td>
        <td>
            <button ng-disabled="config.readOnly" class="btn btn-info" ng-click="update(config)">Update</button>
            <button class="btn btn-danger" ng-click="remove(config)">Delete</button>
        </td>
    </tr>
</table>