<div class="row login-form">
    <div class="col-lg-2">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-calendar"></span> Date from</button>
            </span>
            <input type="text" class="form-control date_from">
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-2">
        <div class="input-group">
            <input type="text" class="form-control date_to">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-calendar"></span> Date to</button>
            </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<h2>Browser statistics</h2>
<div id="browsersChart" style="height: 250px;"></div>
<h2>Platform statistics</h2>
<div id="platformChart" style="height: 250px;"></div>
<h2>Platform types</h2>
<div class="row">
    <div class="col-md-3">
        <div id="donut-platforms" style="width: 300px;"></div>
    </div>
    <div class="col-md-3">
        <span class="label label-primary">Desktop {{"- " +desktopTotal}}</span>
        <span class="label label-success">Mobile {{"- " +mobileTotal}}</span>
    </div>
</div>