<div class="edit-user-form">
    <div class="input-group">
        <span class="input-group-addon">Group name</span>
        <input type="text" class="form-control" placeholder="enter group name" ng-model="group.name">
    </div>

    <div ng-repeat="route in routes| orderBy: accessId" ng-hide="route.accessId === '-1' || route.accessId === undefined">
        <label>
            <span class="label label-primary">access: {{route.accessId}}</span>
            <input 
                type="checkbox"
                name="selectedAccessIds[]"
                value="{{route.accessId}}"
                ng-checked="selection.indexOf(route.accessId) > -1"
                ng-click="toggleSelection(route.accessId)">
            {{route.linkName|| route.when}}
        </label>
    </div>

    <div class="btn btn-info btn-sm" ng-click="updateGroup()">Update</div>

    <br><br>
    <div class="alert alert-success" role="alert" ng-show="updateSuccess">Success</div>
</div>