<div class="editor-tools">
    <input type="text" disabled="true" value="{{file_path_original}}">
    <button ng-click="save()" class="btn btn-info btn-sm" ng-disabled="isError || !isWritable"><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
    <a class="btn btn-info btn-sm" href="#explorer/{{file_path + explorerAddon}}" ng-disabled="isError"><span class="glyphicon glyphicon-folder-open"></span> Open in explorer</a>
    <span class="label label-primary" ng-show="saved"><span class="glyphicon glyphicon-ok"></span> Saved {{savedBytes}} bytes</span>
</div>
<div id="editor"></div>