<a ng-hide="fromModal" href="#/editor/open/{{openFileInEditorUrl}}" class="btn btn-info btn-sm" ng-disabled="canOpenInEditor()"><span class='glyphicon glyphicon-open'></span> Open</a>
<button type="button" class="btn btn-primary btn-sm" ng-click="back()"><span class='glyphicon glyphicon-arrow-left'></span></button>
<input type="text" ng-model="path" name="path" disabled="true"/>
<button type="button" class="btn btn-primary btn-sm" ng-click="forward()"><span class='glyphicon glyphicon-arrow-right'></span></button>
<input type="text" ng-model="searchFileFolder" name="search-file-folder" placeholder="search in directory" ng-focus="toggleBackActionButton()" ng-blur="toggleBackActionButton()">
<button class="btn btn-info btn-sm" ng-disabled="selectedItems.len() !== 1" ng-click="rename()"><span class="glyphicon glyphicon-edit"></span></button>
<button class="btn btn-info btn-sm" ng-disabled="!selectedItems.len() > 0" ng-click="copy()"><span class="glyphicon glyphicon-copyright-mark"></span></button>
<button ng-click="deleteItems()" class="btn btn-danger btn-sm" ng-disabled="!selectedItems.len()"><span class="glyphicon glyphicon-remove"></span></button>
<button ng-click="refresh()" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-refresh"></span></button>
<button ng-click="view('list')" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list"></span></button>
<button ng-click="view('icons')" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th"></span></button>
<button ng-click="create('folder')" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-folder-open"></span></button>
<button ng-click="create('file')" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-file"></span></button>
<div ng-file-select="onFileSelect($files)" class="btn btn-default btn-sm" data-multiple="true"><span class="glyphicon glyphicon-upload"></span></div>
<div ng-show="explorerView === 'list'">
    <table class="table table-hover">
        <tr>
            <th>Name <span>{{selectedItems.len()}} selected items</span></th>
            <th>Info</th>
        </tr>
        <tr ng-dblclick="back()">
            <td>
                <span class='glyphicon glyphicon-folder-close'></span> ../
            </td>
            <td></td>
        </tr>
        <tr ng-class="isSelected(file)" ng-repeat="file in this.files|orderBy: file.type : false | filter : searchFileFolder" ng-dblclick="open(file)" ng-dblclick="select(file)" ng-click="toggleSelect(file, $event)">
            <td>
                <span class='glyphicon glyphicon-{{file.type == "folder" ? "folder-close" : "file"}}'></span> 
                {{file.name}}
            </td>
            <td ng-show="file.type === 'folder'">
                {{file.items > 0 ? file.items + " items" : "empty"}}
            </td>
            <td ng-hide="file.type === 'folder'"></td>
        </tr>
    </table>
</div>
<div ng-show="explorerView === 'icons'">
    <br>
    <span>{{selectedItems.len()}} selected items <span ng-show="selectedItems.len() === 1"> / {{selectedItems.getSurvival(1)[0].name}}</span></span>
    <hr>
    <div class="explorer_row">
        <div class="row">
            <div class="col-lg-2 thumbnail-explorer-selected-item" ng-repeat="file in this.files|orderBy: file.type : true | filter : searchFileFolder">
                <div class="thumbnail" ng-dblclick="open(file)" ng-dblclick="select(file)" ng-click="toggleSelect(file, $event)" ng-class="isSelected(file)">
                    <div ng-show="file.type === 'folder'">{{file.items}} item{{file.items > 1 ? 's' : ''}}</div>
                    <span ng-switch="file.extensionType">
                        <span ng-switch-when="image-for-preview">
                            <img thumb-path="{{file.path}}" thumb-params="100/100/mc/false" width="107">
                        </span>

                        <span ng-switch-default>
                            <img ng-src="../assets/sys/icons/{{file.type}}.png" alt="sys-icons">
                        </span>
                    </span>

                    <div class="caption">
                        <span>{{file.name| limitTo: 12}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <!-- Modal -->
    <div class="modal fade" id="replaceModal-{{explorerID}}-id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Files collision</h4>
                </div>
                <div class="modal-body">
                    <b>{{collision.file}}</b> already exists in {{path}}
                </div>
                <div class="modal-footer">
                    <label><input type="checkbox" class="explorer-check-same-action"> Do same action for all.</label>
                    <button type="button" class="btn btn-warning" ng-click="replaceActions('replace')">Replace</button>
                    <button type="button" class="btn btn-success" ng-click="replaceActions('leaveBoth')">Leave both</button>
                    <button type="button" class="btn btn-default" ng-click="replaceActions('cancel')">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
