<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-info" type="button" ng-click="addNewGroup()">Add</button>
            </span>
            <input type="text" class="form-control" ng-model="newGroupName" placeholder="enter group name">
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<br>
<div class="alert alert-success" role="alert" ng-show="addNewGroupSuccess">Success</div>
<br>

<table class="table">
    <tr>
        <td>#</td>
        <th>Group Name</th>
        <th>Access ids</th>
        <th>Total users in</th>
        <th>Options</th>
    </tr>
    <tr ng-repeat="group in this.groups| filter: globalSearchField">
        <td class="group-id">{{group.id}}</td>
        <td>{{group.name}}</td>
        <td>
            <span class="label label-primary ng-binding lm" ng-repeat="id in group.accessIds">{{id}}</span>
            <span class="label label-warning" ng-hide="group.accessIds.length">Dashboard only</span>
        </td>
        <td>{{group.totalUsers}}</td>
        <td>
            <a href="#/admin/edit/group/{{group.id}}" class="btn btn-info btn-xs">edit</a>
            <button class="btn btn-danger btn-xs" ng-click="removeGroup(group.id)">Delete</button>
        </td>
    </tr>
</table>