<div>
    <div class="">
        <a href="#/languages/add" class="btn btn-info btn-sm">Add</a>
    </div>
    <br>
    <table class="table">
        <tr>
            <!--<td>#</td>-->
            <th>Title</th>
            <th>Short</th>
            <th>Default</th>
            <th>Active</th>
            <th>Options</th>
        </tr>
        <tr ng-repeat="lang in this.languages | filter: globalSearchField">
            <!--<td>{{lang.id}}</td>-->
            <td>{{lang.title}}</td>
            <td>{{lang.short}}</td>
            <td>
                <span class="glyphicon" ng-class="lang.default == '1' ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
            </td>
            <td>
                <button class="btn btn-default glyphicon" ng-click="changeStatus(lang)" ng-class="lang.active == '1' ? 'glyphicon-ok' : 'glyphicon-remove'"></button>
            </td>
            <td>
                <a href="#/languages/edit/{{lang.id}}" class="btn btn-info btn-xs">Edit</a>
                <button ng-hide="lang.default === '1'" ng-click="deleteLanguage(lang)" class="btn btn-danger btn-xs">Delete</button>
            </td>
        </tr>
    </table>
</div>