<div class="">
    <div class="input-group">
        <span class="input-group-addon">Title</span>
        <input type="text" class="form-control" ng-model="language.title">
    </div>
    <br />
    <div class="input-group">
        <span class="input-group-addon">Short</span>
        <input type="text" class="form-control" ng-model="language.short">
    </div>
    <br />
    <div class="input-group">
        <span class="input-group-addon">Order</span>
        <input type="text" class="form-control" ng-model="language.order">
    </div>
    <br />
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-checked="parseInt(language.default) > 0" ng-disabled="hasDefault === true" ng-model="language.default" ng-true-value="1" ng-false-value="0"> Default
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-checked="parseInt(language.active) > 0" ng-model="language.active" ng-true-value="1" ng-false-value="0"> Active
        </label>
    </div>

    <div class="alert alert-danger" ng-show="insertFailure" role="alert">{{errorMessage}}</div>
    <div class="alert alert-success" role="alert" ng-show="insertSuccess">Success</div>

    <div class="btn btn-info btn-sm" ng-click="insertLanguage()">Update</div>
</div>