<div class="logo row">
    <div class="col-sm-4 col-sm-offset-4">
        <!--<h2>Happy</h2>-->
        <!--<img src="resources/images/logo.png" alt="Happy" />-->
        <img src="http://interactive-share.com/application/img/logo.png" alt="Interactive Share" />
    </div>
</div>


<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="form-horizontal login-form" role="form">
            <!--<div class="alert alert-info" ng-show="this.loginError" role="alert">Invalid username and/or password.</div>-->
            <!--<div class="alert alert-info" role="alert">Information notification on the login page</div>-->
            <!--<div class="alert alert-success" role="alert">Success notification on the login page</div>-->
            <!--<div class="alert alert-warning" role="alert">Attention notification on the login page</div>-->
            <div class="alert alert-danger" role="alert" ng-show="this.loginError">Invalid username and/or password.</div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Username</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputEmail3" placeholder="enter username" ng-model="username" ng-keydown="keydown($event)">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">Password</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="enter password" ng-model="password" ng-keydown="keydown($event)">
                </div>
            </div>
            <!-- <div class="form-group">
                <div class="col-sm-12">
                    <div class="checkbox text-right">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                </div>
            </div> -->
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success pull-right" value="Login" ng-click="this.login()" id="login-submit">Sign in</button>
                </div>
            </div>
        </div>
    </div>
</div>