<div style="width: 160px; position: absolute; top: 100px; right: 20px;">
    <span class="input-group-btn">
        <button class="btn btn-info" type="button" ng-click="updateTotalAll()">Update total all <progressbar type="{{updateAllProgress < 51 ? 'danger' : updateAllProgress == 100 ? 'success' : 'warning'}}" value="updateAllProgress">{{updateAllProgress}} %</progressbar></button>
    </span>
</div>
<div style="position: absolute; top: 93px; left: 300px; width: 300px; padding: 0px;" ng-show="keyExists">
    <alert type="danger">{{newLangKey}} already exists</alert>
</div>
<div class="content">
    <div class="row">
        <div class="input-group" style="width: 660px;">
            <span class="input-group-addon">New key</span>
            <input type="text" class="form-control" ng-model="newLangKey" placeholder="exp. home.title" ng-keyup="checkAvailableKey()">
            <span class="input-group-btn">
                <button class="btn btn-info" type="button" ng-click="addNewKey()" ng-disabled="keyExists">Add</button>
            </span>
        </div>
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-addon animate" style="border-radius: 0px 0px 10px 10px;" ng-hide="!newLangKey.length">
                    <span class="content" ng-bind-html="newLangKey | Configurations_StrongifyGroups" style="font-size: 20px;"></span>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <h4>Short Tags</h4>
    <div class="content">
        <span style="margin: 5px; cursor: pointer;" class="content label label-default" ng-repeat="keysTag in keysTags">{{keysTag}}</span>
    </div>
</div>
<div class="content">
    <tabset>
        <tab ng-repeat="translation in langTranslations" heading="{{translation.language.title}}">
            <div class="content">
                <table class="talbe table-condensed table-hover" style="width: 100%">
                    <tr>
                        <th style="width: 25%;">Key</th>
                        <th style="width: 70%;">Translation</th>
                        <th style="width: 5%;">Options</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td><progressbar type="{{translation.updateAllProgress < 50 ? 'danger' : translation.updateAllProgress === 100 ? 'success' : 'warning'}}" value="translation.updateAllProgress">{{translation.updateAllProgress}} %</progressbar></td>
                    <td><button class="btn btn-info" ng-click="updateAllRows(translation)" ng-disabled="!canUpdateAll(translation)">Update all rows</button></td>
                    </tr>
                    <tr ng-repeat="translationRow in translation.translations| filter : globalSearchField">
                        <td ng-bind-html="translationRow.key | Configurations_StrongifyGroups" style="font-size: 20px;"></td>
                        <td>
                            <textarea ng-keyup="enterChanges(translation)" ng-model="translationRow.translation" ng-disabled="translationRow.updateInProgress" class="form-control" rows="3">{{translationRow.translation}}</textarea>
                        </td>
                        <td>
                            <button class="btn btn-info" ng-click="updateRow(translationRow)" ng-disabled="translationRow.updateInProgress">Update</button>
                        </td>
                    </tr>
                </table>
            </div>
        </tab>
    </tabset>
</div>