<!--Template {component_name_underscore_lowercase}.html, created on {date_added}-->

<table class="table">
    <tr>
        <td>#</td>
        <!--<td></td>-->
        <td>Options</td>
    </tr>
    <tr ng-repeat="item in this.items | filter: globalSearchField">
        <td>{{item.id}}</td>
        <!--<td>{{item.}}</td>-->
        <td>
            <button class="btn btn-danger btn-xs" ng-click="deleteById(item.id)">Delete</button>
        </td>
    </tr>
</table>